// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #64B5F6;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-shade: #42A5F5;
  --ion-color-secondary-tint: #90CAF9;

  /** tertiary **/
  --ion-color-tertiary: #F06292;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-shade: #EC407A;
  --ion-color-tertiary-tint: #F48FB1;

  /** success **/
  --ion-color-success: #4DB6AC;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-shade: #26A69A;
  --ion-color-success-tint: #80CBC4;

  /** warning **/
  --ion-color-warning: #FFD54F;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-shade: #FFCA28;
  --ion-color-warning-tint: #FFE082;

  /** danger **/
  --ion-color-danger: #E57373;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-shade: #EF5350;
  --ion-color-danger-tint: #EF9A9A;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

ion-title {
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}

ion-grid {
  padding-right: 0;
  padding-left: 0;
}

ion-col {
  padding: 0;
}

ion-button {
  white-space: normal;

  &.top {
    margin: 24px auto;
    width: 90%;
    max-width: 400px;

    &.shape-generate {
      --background: #FF5722;
      --background-focused: #FF7043;
      --background-activated: #FF7043;
      --background-hover: #F4511E;
    }

    &.moving-circle {
      --background: #00BCD4;
      --background-focused: #00ACC1;
      --background-activated: #00ACC1;
      --background-hover: #26C6DA;
    }
  }

  &.control {
    margin: 4px auto;
    width: 80%;
  }

  &.launch {
    margin: 16px auto 0;
    width: 80%;
  }
}

ion-range {
  padding-top: 0;
  padding-bottom: 0;
  --knob-background: #3880ff;
}